<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui">
    <title>{{ resume.basics.name }}</title>
    <style>
      {{ style }}
    </style>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,500,700' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container">
      <header>{% assign b = resume.basics %}
        <div class="item">
          <div class="left">
            <h1>{{ b.name }}</h1>
            <h2 class="title">{{ b.label }}</h2>
          </div>
          <div class="right">
            <section class="contact">
              <div class="email">
                <strong>Email: </strong>
                <a href="mailto:{{ b.email }}">{{ b.email }}</a>
              </div>
              <div class="website">
                <strong>Web: </strong>
                <a href="{{ b.website }}">{{ b.website }}</a>
              </div>
              {% for p in b.profiles %}
              <div class="network">
                <strong>{{ p.network }}: </strong>
                <a href="{{ p.url }}">{{ p.username }}</a>
              </div>
              {% endfor %}
              <div class="location">
                <strong>Location: </strong>
                {{ b.location.city }}, {{ b.location.region }}, {{ b.location.countryCode }}
              </div>
            </section>
          </div>
        </div>
      </header>
      <section class="skills">
        <h2>Technical Skills</h2>
        {% for s in resume.skills %}
        <div class="item">
          <div class="left">
            {{ s.name }}:
          </div>
          <div class="right">
            <strong>
              {{ s.keywords | join: ", "}}
            </strong>
          </div>
        </div>
        {% endfor %}
      </section>
      <section class="summary">
        <h2>Summary</h2>
        {{ resume.basics.summary }}
      </section>
      <section class="education">
        <h2>Education</h2>
        {% for e in resume.education %}
        <div class="item">
          <div class="left">
            <div class="institution">
              <strong>
                {{ e.institution }}
              </strong>
            </div>
            <div class="studyType">
              {{ e.studyType }}
            </div>
          </div>
          <div class="right">
            <div class="area">
              <strong>
                {{ e.area }}
              </strong>
            </div>
            <div class="date">
              <span class="startDate">
                {{ e.startDate | date: "%b %Y" }}
              </span>
              {% if e.endDate %}
              <span class="endDate">
                - {{ e.endDate | date: "%b %Y" }}
              </span>
              {% else %}
              <span class="endDate">
                - Present
              </span>
              {% endif %}
            </div>
          </div>
        </div>
        {% endfor %}
      </section>
      <section class="experience">
        <h2>Experience</h2>
        {% for w in resume.work %}
        <div class="item">
          <div class="left">
            <div class="company">
              <strong>
                {{ w.company }}
              </strong>
            </div>
            <div class="position">
              {{ w.position }}
            </div>
          </div>
          <div class="right">
            <div class="work-location">
              <strong>
                {{ w.summary }}
              </strong>
            </div>
            <div class="date">
              <span class="startDate">
                {{ w.startDate | date: "%b %Y" }}
              </span>
              {% if w.endDate %}
              <span class="endDate">
                - {{ w.endDate | date: "%b %Y" }}
              </span>
              {% else %}
              <span class="endDate">
                - Present
              </span>
              {% endif %}
            </div>
          </div>
        </div>
        <ul>
          {% for h in w.highlights %}
          <li>{{ h }}</li>
          {% endfor %}
        </ul>
        {% endfor %}
      </section>
      <section class="awards">
        <h2>Awards, Scholarships, &amp; Achievements</h2>
        {% for a in resume.awards %}
        <div class="item">
          <div class="left">
            <div class="title">
              <strong>
                {{ a.title }}
              </strong>
            </div>
            <div class="award-summary">
              {{ a.summary }}
            </div>
          </div>
          <div class="right">
            <div class="awarder">
              <strong>
                {{ a.awarder }}
              </strong>
            </div>
            <div class="date">
              {{ a.date | date: "%b %Y" }}
            </div>
          </div>
        </div>
        {% endfor %}
      </section>
      <section class="interests">
        <h2>Interests</h2>
        {% for i in resume.interests %}
        <div class="interest">
          <strong>{{ i.name }}: </strong>{{ i.keywords | join: ', ' }}
        </div>
        {% endfor %}
      </section>
    </div>
  </body>
</html>
